h1{
	margin-top: 20px;
	margin-bottom: 50px;
}

.paginate_button {
	padding: 0px !important;
}


.btn{
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
}

#addButton, #refreshButton{
	background-color: #6610f2;
}



.jumbotron{
	padding: 32px;
}

thead{
	background-color: #c0c0c0;
}

.nav-item {

	background-color: #c0c0c0;
	border-radius: 5px;
	margin: 5px;

}

h3{
	margin-top: 10px;
}
